{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block section %}
<hr>
{% endblock section %}

{% block maincontent %}
<br>
<div class="row">
    <div class="col-12 col-md-6 offset-md-3">   
        <div class="card">
            <div class="card-body" id="cardFactura">
                <form enctype="multipart/form-data" method="post">
                    <h2>Registrar Producto</h2>
                    {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                    <div class="d-flex justify-content-end">
                        <a type="submit" class="btn btn-success" href="{% url 'producto-list' %}">Guardar</a>
                        &nbsp;
                        <a  href="{% url 'producto-list' %}" class="btn btn-danger">Cancelar</a>
                    </div>        
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent %}