{% extends 'base.html' %}
{% load static %}

{% block section %}
<br>
   <div class="container" style="display: flex;
   justify-content: space-between;
   align-items: center;">
      <h5>Productos en stock</h5>
      <div class="button-container" style=" margin-left: auto;">
         <!-- <a href="{% url 'factura-create' %}" type="button" class="btn btn-success btn-sm"> <i class="fa-solid fa-coins"></i> Factura</a> -->
      </div>
   </div>
   <hr>
{% endblock section %}

{% block maincontent %}
   <div>
      <div class="container">
         <div class="row">
      {% for c in object_list %}
      <div class="col-md-3" >
         <div class="card mb-3">
               <img src="{% static c.imagen.url %}" class="card-img-top" alt="...">
               <div class="card-body">
                  <h5 class="card-title text-success"> {{ c.nombre }}</h5>
                  <p class="card-text font-weight-bold text-muted">{{ c.tipo }}</p>
                  <p class="card-text precio">{{ c.precio }}</p>
                  <div class="input-group mb-3">
                     <div class="input-group-append">
                           <button class="btn btn-success" type="button" >Añadir al carrito</button>
                           <button class="btn btn-info" type="button" >Detalle</button>
                     </div>
                  </div>
               </div>
         </div>
      </div>
      {% endfor %}
   </div>
</div>
   </div>
{% endblock maincontent %}


