.ovalo{
    background: linear-gradient(to right, #318656, #3ba7b0);
    width: 500px; 
    height: 90px; 
    border-radius: 50%; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    margin: 0 auto; 
    margin-top: 30px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);   
}

.titulo{
    color: white; 
    font-size: 24px; 
    text-align: center; 
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#cardFactura{
    margin: 20px;
    padding: 50px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #ebfce9;
}

#cardCliente{
    background-color: white;
    text-align: center;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4 );
}

.table{
    background-color: #ebfce9;
}

#modalFactura{
    margin: 20px;
    padding: 50px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    background-color: #83b97d;
}